body {
  height: 100%;
  width: 100%; }

.in {
  display: block !important; }

.modal-content {
  padding: 20px; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  position: relative;
  top: 40%;
  transform: translateY(-50%); }
  .center-block h2 {
    text-align: center; }

div.container-fluid, .page-content, .wrap {
  height: inherit;
  padding: 0px; }

.wrap {
  max-width: 2000px;
  margin: 0 auto; }
  .wrap .parent {
    max-width: 1200px;
    margin: 0 auto; }
    .wrap .parent .row {
      margin-bottom: 50px; }

.text-center {
  text-align: center; }

.row .col-3 img {
  width: 100%;
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
  transition: all 500ms ease-in-out; }

.row .col-3 img:hover {
  -webkit-filter: grayscale(0);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(0);
  /* Microsoft Edge and Firefox 35+ */ }

.row .col-3 .photo-info {
  display: none; }

footer {
  padding: 1rem 1rem; }
  footer .row .col-4 p {
    font-size: 30px; }
  footer .row .col-4 #copyright {
    font-size: 1.2rem; }

@media only screen and (max-width: 450px) {
  h1.display-4 {
    font-size: 1.5rem; }
  .wrap {
    padding-left: 4.33333%;
    padding-right: 4.333333%; }
  .parent div.row {
    margin-bottom: 0px !important; }
    .parent div.row .col-3 {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%; }
      .parent div.row .col-3 img {
        height: 350px;
        margin-bottom: 20px; }
  footer .row .col-4 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%; } }
