body {
  height: 100%;
  width: 100%; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  position: relative;
  top: 40%;
  transform: translateY(-50%); }
  .center-block h2 {
    text-align: center; }

div.container-fluid, .page-content, .wrap {
  height: inherit;
  padding: 0px; }

.wrap {
  max-width: 2000px; }
  .wrap .parent {
    max-width: 1200px;
    margin: 0 auto; }
    .wrap .parent .row {
      margin-bottom: 50px; }

.text-center {
  text-align: center; }

.row .col-3 img {
  width: 100%;
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
  transition: all 500ms ease-in-out; }

.row .col-3 img:hover {
  -webkit-filter: grayscale(0);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(0);
  /* Microsoft Edge and Firefox 35+ */ }

.row .col-3 .photo-info {
  display: none; }

footer {
  padding: 1rem 1rem; }
